*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9EFDB;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    text-align: center;
    padding: 40px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Concert One', sans-serif;
    z-index: 2;
}
.puntuacion {
    margin-left: 100px;
}
.salir {
    display: none;
    cursor: pointer;
}

.salir.mostrar {
    display: inline-block;
    cursor: pointer;
    width: fit-content;
    margin-right: 100px;
}
.salir.mostrar button {
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    font-family: 'Concert One', sans-serif;
    font-size: 15px;
    background-color: #bc9898;
    transition: .2s;
}
.salir.mostrar button:hover {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    transition: .2s;
}

.title {
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Honk', system-ui;
    font-size: 30px;
    color: black;
    z-index: 1;
}

/* PANEL DIFICULTAD ==============================================================================*/

.modalPrincipal {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-top: 5%;
}
.modalPrincipal.ocultar {
    display: none;
}

.modalDificultad {
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    background: #EBD9B4;
    z-index: 2;
    transform: rotateY(0deg) scale(1);
    backface-visibility: hidden;
    transition: .2s;
}
.modalDificultad.rotar {
    transform: rotateY(180deg) scale(1);
    transition: .2s;
}

.modalDificultad h1 {
    font-family: 'Titan One', sans-serif;
    margin-bottom: 50px;
}


.btnDificultad {
    display: flex;
    width: fit-content;
    margin: auto;
    flex-direction: column;
    gap: 10px;
}

.btnDificultad button {
    cursor: pointer;
    padding: 10px 100px;
    border-radius: 20px;
    border: none;
    font-family: 'Concert One', sans-serif;
    font-size: 15px;
    background-color: #9DBC98;
    transition: .2s;
}

.btnDificultad button:hover {
    background-color: #638889;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    transition: .2s;
}

#info {
    position: absolute;
    cursor: pointer;
    width: 30px;
    opacity: 0.5;
    bottom: 10px;
    left: 10px;
}

/* MODAL INFORMACION ============================================================================= */

.modalInfo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 20px 20px 30px;
    background-color: #EBD9B4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: rotateY(180deg) scale(1);
    backface-visibility: hidden;
    transition: .2s;
}
.modalInfo.rotar {
    transform: rotateY(0deg) scale(1);
    backface-visibility: hidden;
    transition: .2s;
}
.modalInfo.rotar  .containInfo{
    display: inline-block;
    transition: .4s;
}

.containInfo {
    display: none;
    margin: auto;
    height: 100%;
    font-family: 'Concert One', sans-serif;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0);
}

.containInfo h1 {
    font-size: 45px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Titan One', sans-serif;
}

.containInfo p {
    width: 95%;
    padding-bottom: 50px;
}

#cerrar {
    position: absolute;
    cursor: pointer;
    width: 18px;
    opacity: 0.5;
    top: 15px;
    right: 20px;
}


/* MODAL TABLERO ==================================================================================*/

.modalTablero {
    display: none;
    width: 100%;
    height: 100%;
}

.modalTablero.active {
    display: inline;
    width: 100%;
    height: 100%;
    margin: auto;
}


/* CREAR TABLEROS */
.containTablero{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: grid;
    margin-top: 10px;
}

.containTablero.bloqueo::before {
    position: absolute;
    content: '';
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    background-color: #ffffff00;
    z-index: 3;
}

.containTablero.facil {
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 80px);
    gap: 20px;
}
.containTablero.medio {
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(9, 80px);
    gap: 20px;
}
.containTablero.dificil {
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(9, 80px);
    gap: 20px;
}


/* CARTAS */
.carta {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.containTablero.bloqueo .carta {
    opacity: 0.75;
    transition: .2s;
}


.front {
    height: 100%;
    transform: rotateY(180deg) scale(1.12);
    backface-visibility: hidden;
    margin: auto;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid #0d1e2e;
    transition: .4s;
}

.back {
    width: 100%;
    height: 100%;
    margin: auto;
    transform: rotateY(0deg) scale(1);
    background-size: cover;
    background-position: bottom;
    background-position-y: -20px;
    position: absolute;
    top: 0;
    border-radius: 10px;
    border: 2px solid #0d1e2e;
    transition: .4s;
}
.back:hover {
    transform: scale(1.12);
    box-shadow: 2px 2px 25px -5px rgba(0,0,0,0.5);
    transition: .2s;
}

.carta.mostrar .front {
    transform: rotateY(0deg) scale(1);
    backface-visibility: hidden;
    transition: .4s;
}
.carta.mostrar .back {
    transform: rotateY(180deg) scale(1);
    backface-visibility: hidden;
    transition: .4s;
}

/* FIN DEL JUEGO =======================================================================================*/

.modalFin {
    position: absolute;
    left: -200%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 3;
}

.modalFin.mostrar {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containFin {
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: #EBD9B4;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px 100px 50px;
    border-radius: 20px;
    font-family: 'Concert One', sans-serif;
}

.containFin h1 {
    font-size: 45px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Titan One', sans-serif;
}

.containFin p {
    margin-bottom: 50px;
}

.containFin .buttonFin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.buttonFin button {
    cursor: pointer;
    padding: 10px 0;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-family: 'Concert One', sans-serif;
    font-size: 15px;
    background-color: #9DBC98;
    transition: .4s;
}

.cerrar:hover {
    background-color: #bc9898;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    transition: .4s;
}

.re:hover {
    background-color: #638889;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
    transition: .4s;
}


/*===================================================================================================*/
/*===================================================================================================*/

@media(max-width: 930px) {
    .title {
        background-color: #F9EFDB;
        position: static;
    }
    
    header {
        background-color: #F9EFDB;
        padding-top: 10px;
    }

    .containTablero {
        margin-bottom: 50px;
    }

    .containTablero.medio, .containTablero.dificil {
        grid-template-rows: repeat(6, 90px);
        grid-template-columns: repeat(6, 70px);
        gap: 20px;
    }
}

@media(max-width: 600px) {
    .title{
        font-size: 20px;
    }

    header {
        padding-bottom:10px ;
    }

    .puntuacion {
        margin-left: 20px;
        font-size: 12px;
    }
    .salir.mostrar {
        margin-right: 20px;
    }
    .salir.mostrar button {
        font-size: 12px;
        padding: 8px 30px;
    }

    .modalPrincipal {
        width: 95%;
        margin-top: 50px;
    }

    .modalDificultad {
        padding: 40px 0;
        width: 100%;
    }

    .modalDificultad h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .btnDificultad button {
        font-size: 12px;

    }

    #info {
        width: 20px;
    }

    .containInfo h1 {
        font-size: 30px;
    }

    .containInfo p {
        font-size: 12px;
    }

    .back:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .containTablero.facil {
        grid-template-rows: repeat(4, 90px);
        grid-template-columns: repeat(4, 70px);
        gap: 15px;
    }

    .containTablero.medio, .containTablero.dificil {
        grid-template-rows: repeat(6, 70px);
        grid-template-columns: repeat(6, 50px);
        gap: 10px;
    }

    .modalFin{
        width: 100%;
    }

    .containFin {
        width: 95%;
        padding: 30px 0;
    }

    .containFin h1 {
        font-size: 30px;
    }
    .container p {
        font-size: 12px;
    }

    .buttonFin {
        width: 90%;
        margin: auto;
    }
    .buttonFin button {
        font-size: 12px;
    }
    .buttonFin .cerrar{
        background-color: #bc9898;
    }

}